.login-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;

  &__center {
    width: 100%;
    max-width: 450px;
    height: fit-content;
    max-height: 550px;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(0px);
    opacity: 1;
    position: relative;
    z-index: 21;

    &__title {
      font-size: 35px;
      font-weight: 700;
      margin-bottom: 40px;
    }
    &__subtitle {
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 40px;
    }

    &__input {
      width: 100%;
      margin-bottom: 30px;
    }

    &__forgot {
      margin-bottom: 90px;
      text-align: right;
      width: 100%;
    }

    &__btn-confirm {
      width: 100%;
      height: 50px;
    }
  }

  &__background {
    min-height: 300px;
    max-height: 770px;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 10;
    width: 100%;
    height: 100%;
    min-width: 1920px;
    user-select: none;
    transform: translateX(-50%);
    background: linear-gradient(90deg, #00867e, #00867e);

    svg {
      position: absolute;
      bottom: -1px;
      left: -1px;
      right: -1px;
      float: left;

      .svg-banner-shape {
        fill: #fff;
      }
    }
  }
}
