.form-control {
  &:focus {
    box-shadow: 0 0 0 0.25rem #d1f2ed !important;
  }
}
.btn-success {
  background-color: #00867e !important;
}
.btn-outline-success {
  border-color: #00867e !important;
  &:hover {
    background-color: #00867e !important;
  }
}
